* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  min-height: 100vh;
}

section#hero {
  height: 450px;
  width: max-content;
  background-color: gainsboro;
}

section#hero img {
  height: 450px;
  width: 450px;
  border: 25px solid #42525d;
  float: left;
}

h1 {
  font-size: 100px;
  font-family: "Times New Roman";
}

h2 {
    font-size: 45px;
    font-family: 'Times New Roman';
}

li{
    font-size: 24px;
    font-family: 'Times New Roman';
}

p {
  font-size: 24px;
  font-family: "Times New Roman";
}

section#contacto {
  height: fit-content;
  width: 450px;
  background-color: gainsboro;
  float: left;
}

section#aptitudes {
  height: fit-content;
  width: 450px;
  background-color: gainsboro;
  float: inline-start;
}

section#formacion-academica {
  position: relative;
  left: 470px;
  top: -1190px;
}

section#historial-laboral{
    position: relative;
    left: 470px;
    top: -1220px;
}
